* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    width: 200px;
}

body {
    background: #fefbf9;
    padding: 20px;
}

.greeting h1 {
    font-size: 32px;
    font-weight: 700;
    color: #202020;
}

.greeting p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.btn-primary {
    margin-top: 25px;
    width: 100%;
    padding: 15px;
    background: #5e3fc0;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

/* Habit Card */
.habit-card {
    background: #fff;
    margin-top: 40px;
    padding: 25px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.fire-icon {
    font-size: 26px;
    color: #ff6a3c;
}

.habit-left h2 {
    font-size: 22px;
    margin-top: 5px;
}

/* Bars */
.habit-grid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    column-gap: 10px; 
    row-gap: 12px;
    margin-top: 20px;
    text-align: center;
    justify-content: start;
}

.habit-grid .bar {
    width: 28px; 
    height: 58px;
    background: #c8cff5;
    border-radius: 8px;
}

.habit-grid .bar.strong {
    background: #5534d4;
}

.habit-grid span {
    display: block;
    font-weight: 600;
    color: #555;
    margin-top: 4px;
}



/* Score circle */
.score-circle .circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 10px solid #0e7f73;
    border-right-color: #cfe7e4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: #0e7f73;
}

/* Bottom nav */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #5e3fc2;
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
    color: white;
}

.nav-item {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.nav-item:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.nav-item p {
    font-size: 14px;
    margin-top: 4px;
}
